<h1>Utiliza las flechas de izquierda y derecha para visualizar los distintos usuarios de nuestra empresa</h1>

<style>
    h1{
        background-color: rgb(136, 0, 0);
    color: antiquewhite;
    }
</style>