<h1>Bienvenidos a Red Wyrm <img src="public/Logo Dragón.jpg" alt="Logo DragoMovies"></h1>

<style>
h1 {
    background-color: rgb(136, 0, 0);
    color: antiquewhite;
}
img {
    height: 15%;
    width: 15%;
}

</style>